body {
  font-family: 'Poppins', sans-serif;
  padding-top: 0px;
  background-color: #f8f9fa;
}
#hero {
  height: 90vh;
  position: relative;
  color: white;
}
#hero::after {
  content: '';
  position: absolute;
  top:0;left:0;width:100%;height:100%;
  background: rgba(0,0,0,0.5);
}
#hero .text-center { position: relative; z-index: 1; }
.stats { background: #212529; }
.stats h3 { font-size: 2.5rem; }
footer { font-size: 0.9rem; }
@media (max-width:768px){ #hero{height:60vh;} }


/* === LIGHT THEME === */
body.light-mode {
  background-color: #f8f9fa;
  color: #212529;
  transition: background-color 0.4s, color 0.4s;
}

/* === DARK THEME === */
body.dark-mode {
  background-color: #121212;
  color: #f8f9fa;
  transition: background-color 0.4s, color 0.4s;
}


.light-mode .navbar {
  background-color: #343a40 !important;
}
.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

/* Carousel captions */
.light-mode .carousel-caption {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}
.dark-mode .carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

/* Footer */
.light-mode footer {
  background-color: #343a40;
  color: white;
}
.dark-mode footer {
  background-color: #1f1f1f;
  color: #f8f9fa;
}
